body { /*Bakgrunsbild för hela sidan*/
    background-image: url('IMG_5602.JPEG'); 
    background-size: 100% 100%;
    background-size: cover;/*bilden täcker hela sidan*/
    background-repeat: no-repeat; /*Bilden ska inte upprepas flera gånger*/
    position: sticky;/*Bilden fast vid skärmen när man skrollar*/
}
img { /* */
    width: 200px; /*Bredd*/
    height: 200px; /*Längd*/
    object-fit: cover;/* Behåll bildens proportioner och skär den om det behövs*/
    border-radius: 50% /*Gör en rundad kant för bilden*/
}
.mittnamn{/*Still för texten*/
    font-family: Arial;/*Typsnitt*/
    font-size: 50px;/*Fontstorlek*/
    font-weight: bold;/*FEtstil för texten*/
    text-align: center;/*centrera texten*/
    display: flex;/*Använd flexbox för centering*/
    justify-content: center;
    align-items: center; 
    height: 99vh; /*Vyhöjden för att centerar */
}
.underrubrik{/*Still för texten */
    font-family: Arial;/*Typsnitt*/
    font-size: 25px;/*Fontstorleken*/
    font-weight: bold;/*fetsti för texten*/
    text-align: center;/*centerara texten*/
    justify-content: center;/*centrera*/
    display: flex;/*Använd flexbox*/
    align-items: center;    
}
h1{/*Färg &backrundsfärg för alla rubriker */
     color: rgb(8, 9, 9);
     
}
p{/* 'färg & backgrundsfärg för alla paragrafer*/
 color: rgb(220, 220, 236);
 background-color: black;

}
ul{/* Färg för lista*/
    color: rgb(15, 1, 1);
}/*Stillar för knapparna*/
.om-button,.kontakt-button,.start-button,.skicka-button{/*stil för knappar */
    background-color: #357adb;/*Backgrundsfärg*/
     color: white;/*Textfärg för knapparna*/
      padding: 10px 22px; /**/
      text-align: center;/*Centerara texten*/
      font-weight: bold; /*Fetstil för texten*/
      font-size: 16px;/*Fontstorlek för texten*/
      border: none;/*ta bort knappens ram*/
      border-radius: 5px;/*Runda hörnen */
      cursor: pointer; /*Ändra muspekanern  till en hand när musen svävar över knapparna*/   
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)/*Skugga*/
    }

    .om-button:hover,.kontakt-button:hover,.start-button:hover,.skicka-button:hover{/* Stillar för knapparna när musen svävar över*/
      opacity: 0.7;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.30)/*Ändra skuggstilen*/
    }
    div{
        text-align: center;/* Centerara texten*/
    }
    .container {/*stillar för .container som använder CSS Grid */
        display: grid; /*FÖr att definiera layouten*/
        grid-template-columns: 33% 33% 33%;/*Dela sidan i 3 lika stora kolumner*/
        grid-template-areas:
          "header header header"
          "left main right"
          "footer footer footer";
      }
       .header {/* */
        grid-area: header;
        position: sticky;/*GÖr det fäst vid toppen av sidan*/
        top: 0px;/*Använd 0 pixlar av utrymme ovanför header*/
        
      }
      .left {
        grid-area: left;
      }
      .main {
        grid-area: main;
      }
      .right {
        grid-area: right;
      }
      .footer {
        grid-area: footer;
      }

      button a {
        color: white;
        text-decoration: none;
      }
      /*För mindre skärmar*/
      @media screen and (max-width: 400) {
          body {
              background-size: 100% 100%;
              background-attachment:scroll; 

              }
            }
      /*För mellanstöra skärmar*/
      @media (min-width: 769px) and (max-width: 1024px){

      }/*För större skrämar*/
      @media (min-width:1025px){

      }